/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  height: 62px;
}

.logo {
  letter-spacing: 4px;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.logo a {
   color: #000;
   text-decoration: none;
}

.menu-icon {
  font-size: 22px;
  cursor: pointer;
  float: right;
  display: none;
}

.nav-links.show {
  display: inline-block;
  float: right;
  background-image: url(tablesetting.jpg);
  height: 80px;
  position: relative;
  margin-top: 5px;

}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  color: #000;
  height: 35px;
}

.nav-links a {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 4px;
  width: auto;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}


.hero {
  position: relative;
  margin-top: 60px;
}

.hero img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  width: 1600px;
  
  
}

.hero-text {
   position: absolute;
   left: 0;
   bottom: 0;
   display: block;
   letter-spacing: 4px;
   font-size: 15px;
   line-height: 1.5;
   font-family: "Times New Roman", Georgia, Serif;
}

.hero-text h1 {
  font-size: 36px;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 10px 0;
  display: block;
  margin-left: 20px; 
   
}


.section {
  padding: 80px 60px;
 }

 .about {
  display: flex;
  align-items: center;
  gap: 30px;
 }

 .about-text {
   margin-right: 5px;
   width: 100%;
   padding-right: 6px;
  

}


.about-img img {
  max-width: 100%;
  height: 80%;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  opacity: 0.75;
  border-style: none;
  padding-left: 60px;
}

.about-img,
.about-text {
  flex: 1;

}

.about-text h1 {
  text-align: center;
  margin: 10px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1.5;
  margin-bottom: 40px;
  font-family: "playfair Display", serif;
  
  
}

.about-text h5 {
  text-align: center;
  margin: 10px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 5px;
  
  

}

.about-text p {
  font-size: 18px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 80px;

}

.season {
  color: #000;
  background-color: #f1f1f1;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}



.light-text {
 color: #757575;

}

.center {
  letter-spacing: 5px;
  text-align: center;
  

}


.menu-text h1 {
  display: block;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
  margin-bottom: 20px;
  
}

.menu-text {
  padding: 12px 24px;
  float: left;
  width: 100%;
  display: block;
  padding-left: 80px;
}

.menu-content {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
  
 }

.menu-text,
.menu-img {
  flex: 1;
}

.menu-text h4 {
   display: block;
   letter-spacing: 5px;
   font-weight: 400;
   margin: 10px 0;
   font-size: 20px;
   margin-block-start: 1.33em;
   margin-block-end: 1.33em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-left: 30px;
}

.menu-text p {
  display: block;
  color: #757575;
  font-size: 14px;
  line-height: 1.5;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 30px;
  
}

.menu-img img {
  width: 90%;
  height: 60%;
  border-radius: 4px;
  font-size: 15px;
  opacity: 0.75;
  border-style: none;
  margin-top: 50px;
  padding-right: 80px;
 }



.contact h1 {
    display: block;
    font-size: 36px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    padding-left: 62px;
    font-weight: 400;
    font-family: "playfair Display", serif;
}
    


.contact p {
  font-size: 15px;
  line-height: 1.5;
  list-style: 1.0;
  padding-left: 60px;
  padding-right: 80px;
 

}

.address  {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 18px;
  color: #607d8b;
}

.contact-form {
  margin-top: 25px;
  max-width: 1100px;
  padding-left: 60px;

}

.contact-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-left: white;
  border-right: white;
  border-top: #f1f1f1;
}

.contact-form button {
  padding: 12px;
  width: 150px;
  border: none;
  background: #f1f1f1;
  color: #333;
  cursor: pointer;
  font-size: 13px;
}

.contact-form button:hover {
  background: #33333357;

}

.nav-links li:hover {
    background: #33333357;
}


.logo:hover {
    background: #33333357;
    
}

footer {
  text-align: center;
  padding: 30px;
  background: #f1f1f1;
  font-size: 14px;
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    display: block;
  }

  p.address {
    font-size: 18px;
  }

  .nav-links{
    display: none;
  }

  .logo:hover {
    max-width: 100%;

  }

  .about,
  .menu-content {
    flex-direction: column;

  }

  .section {
    padding: 50px 20px;
  }


  .menu-text {
    padding-left: 2%;
    margin-left: auto;
  }

  .menu-text h4 {
    padding-left: 2%;
    margin-left: auto;
  }

  .menu-text p {
    padding-left: 1%;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .about-img img {
    display: none;
  }

  .center {
    align-items: center;
  }
  

  .about-text {
    padding-right: 0%;
    margin-right: auto;
  }
  

  .about-text p {
    margin-right: auto;
  }

  .menu-img img {
    width: 100%;
    height: auto;
    padding-right: 0%;
    padding-left: 2%;
    border-radius: 4px;
  }

  
  .contact h1 {
    padding-left: 0%;
  }

  .contact p {
    padding-left: 0%;
    padding-right: 0%;
    margin-right: auto;
     text-align: justify;
  }
  

  .contact-form {
    padding-left: 0%;
   
  }

  .contact-form button {
    width: 50%;
  }

  .menu-icon {
    display: block;
  }


  .nav-links.show {
    margin-left: 50px;
    position: relative;
    left: 18px;
    
  }

  .footer p {
    width: 100%;
  }


}

section {
  border: 1px solid #0000000a;
  
}
