/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo {
  font-weight: bold;
  letter-spacing: 3px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  letter-spacing: 2px;
}


.hero {
  position: relative;
  margin-top: 80px;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: rgba(0,0,0,0.7);
}

.hero-text h1 {
  font-size: 40px;
  letter-spacing: 7px;
}


.section {
  padding: 80px 60px;
}

.center {
  margin-top: 30px;
  font-size: 33px;
  padding-left: 80px;
  align-items: center;

}


.about {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-text {
   margin-bottom: 130px;
   margin-right: 5px;
   width: 100%;

}


.about-img img {
  width: 99%;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 15px;
  
}

.about-img,
.about-text {
  flex: 1;

}

.about-text h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  letter-spacing: 3px;
}

.about-text h4 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 4px;

}

.about-text p {
  font-size: 21px;
  display: block;
  width: 98%;
  max-width: 1200px;
  justify-items: center;

}


.light-text {
  color: #777;
}


.section-menu h2 {
  margin-left: 10px;
  letter-spacing: 3px;
}

.menu-content {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
  justify-content: left;
  padding-left: 30px;
  width: 95%;
  

}

.menu-text,
.menu-img {
  flex: 1;
}

.menu-text h4 {
  color: #777;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 21px;
  letter-spacing: 5px;
}

.menu-text p {
  color: #777;
  margin-bottom: 19px;
  margin-top: 10px;
  font-size: 17px;
  width: 100%;
  line-height: 1.1;
  
}

.menu-img img {
  width: 100%;
  height: 95%;
  border-radius: 5px;
  font-size: 8px;
  margin-top: 70px;

}



.contact h2 {
  margin-bottom: 25px;
  font-size:43px;
  padding-left: 80px;
    
}

.contact p {
  /* padding: 8px; */
  font-size: 1.1rem;
  list-style: 1.0;
  

}

.address  {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 1.5rem;
  color: #777;
}

.contact-form {
  margin-top: 25px;
  max-width: 1100px;

}

.contact-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-left: white;
  border-right: white;
  border-top: #f1f1f1;
}

.contact-form button {
  padding: 12px;
  width: 150px;
  border: none;
  background: #f1f1f1;
  color: #333;
  cursor: pointer;
  font-size: 13px;
}

.contact-form button:hover {
  background: #33333357;

}


footer {
  text-align: center;
  padding: 30px;
  background: #f1f1f1;
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .about,
  .menu-content {
    flex-direction: column;

  }

  .section {
    padding: 50px 20px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .contact-form button {
    width: 100%;
  }
}

section {
  border: 1px solid #00000041;
  
}
