/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo {
  font-weight: bold;
  letter-spacing: 3px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  letter-spacing: 2px;
}


.hero {
  position: relative;
  margin-top: 80px;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: rgba(0,0,0,0.7);
}

.hero-text h1 {
  font-size: 40px;
  letter-spacing: 5px;
}


.section {
  padding: 80px 60px;
}

.center {
  
  margin-bottom: 110px;
  font-size: 39px;
  margin-left: 180px;
  align-items: left;

}


.about {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-text {
   margin-bottom: 130px;
   margin-right: 5px;

}


.about-img img {
  width: 90%;
  border-radius: 5px;
  font-size: 8px;
  margin-left: 30px;
}

.about-img,
.about-text {
  flex: 1;
}

.about-text h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
}

.about-text h4 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 25px;
}

.about-text p {
  font-size: 17px;
  display: block;
  
}


.light-text {
  color: #777;
}


.section-menu h2 {
  margin-left: 30px;
  margin-top: 80px;
}

.menu-content {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: px;
}

.menu-text,
.menu-img {
  flex: 1;
}

.menu-text h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 23px;
}

.menu-text p {
  color: #777;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 20px;
}

.menu-img img {
  width: 90%;
  border-radius: 5px;
  font-size: 8px;
  margin-left: 5px;
}


.contact h2 {
  margin-bottom: 25px;
  font-size:45px;
  margin-left: 35px;
}

.contact p {
  padding: 8px;
  font-size: 15.8px;
  margin-right: 50px;
  width: 93%;
  margin-left: 32px;
  letter-spacing: 1.0;
}

.address {
  margin-bottom: 15px;
  font-size: 80px;
  color: #777;
}

.contact-form {
  margin-top: 25px;
  max-width: 1100px;
  margin-left: 38px;
  font-size: 32px;
}

.contact-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-left: white;
  border-right: white;
  border-top: #f1f1f1;
}

.contact-form button {
  padding: 12px;
  width: 150px;
  border: none;
  background: #f1f1f1;
  color: #333;
  cursor: pointer;
  font-size: 13px;
}

.contact-form button:hover {
  background: #33333357;

}


footer {
  text-align: center;
  padding: 30px;
  background: #f1f1f1;
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .about,
  .menu-content {
    flex-direction: column;
  }

  .section {
    padding: 50px 20px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .contact-form button {
    width: 100%;
  }
}

section {
  border: 1px solid #00000041;
  
}
